Repository GEOS-ESM/GEOSgcm_GridComp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/ocean-team, @GEOS-ESM/land-team, @GEOS-ESM/surface-preproc-team, @GEOS-ESM/landice-team, @GEOS-ESM/cmake-team

Import NCAR GWD
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSgwd_GridComp/CMakeLists.txt
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSgwd_GridComp/GEOS_GwdGridComp.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSgwd_GridComp/ncar_gwd/cesm_const_mod.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSgwd_GridComp/ncar_gwd/coords_1d.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSgwd_GridComp/ncar_gwd/gw_common.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSgwd_GridComp/ncar_gwd/gw_convect.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSgwd_GridComp/ncar_gwd/gw_diffusion.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSgwd_GridComp/ncar_gwd/gw_drag.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSgwd_GridComp/ncar_gwd/gw_oro.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSgwd_GridComp/ncar_gwd/gw_utils.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSgwd_GridComp/ncar_gwd/interpolate_data.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSgwd_GridComp/ncar_gwd/linear_1d_operators.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSgwd_GridComp/ncar_gwd/vdiff_lu_solver.F90
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/gcm-gatekeepers

Move NCAR init code to Initialize
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSgwd_GridComp/GEOS_GwdGridComp.F90
Owners: @GEOS-ESM/gcm-gatekeepers

Trying to run MOM6. WIP
  GEOSogcm_GridComp/GEOSocean_GridComp/GuestOcean_GridComp/GuestOcean_GridComp.F90
  GEOSogcm_GridComp/GEOSocean_GridComp/GuestOcean_GridComp/MOM6_GEOSPlug/MOM6_GEOSPlug.F90
Owners: @GEOS-ESM/ocean-team

debug domain size
  GEOSogcm_GridComp/GEOSocean_GridComp/GuestOcean_GridComp/MOM6_GEOSPlug/MOM6_GEOSPlug.F90
Owners: @GEOS-ESM/ocean-team

Resolve conflicts in using modules that have the same name from MOM5 and MOM6. https://github.com/GEOS-ESM/GEOSgcm/issues/116 requires changes to CMakeLists.txt . Contact @tclune for details.
  GEOSogcm_GridComp/GEOSocean_GridComp/GuestOcean_GridComp/MOM6_GEOSPlug/CMakeLists.txt
  GEOSogcm_GridComp/GEOSocean_GridComp/GuestOcean_GridComp/MOM_GEOS5PlugMod/CMakeLists.txt
Owners: @GEOS-ESM/cmake-team

Add MOM6 plug, and checkout MOM6.
  Externals.cfg
  GEOSogcm_GridComp/GEOSocean_GridComp/GuestOcean_GridComp/MOM6_GEOSPlug/.gitignore
  GEOSogcm_GridComp/GEOSocean_GridComp/GuestOcean_GridComp/MOM6_GEOSPlug/CMakeLists.txt
  GEOSogcm_GridComp/GEOSocean_GridComp/GuestOcean_GridComp/MOM6_GEOSPlug/MOM6_GEOSPlug.F90
Owners: @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/ocean-team, @GEOS-ESM/cmake-team

Filled in both A- (for atmosphere) and B- (for CICE4) surface currents. Add ocean_model_get_UV_surf to ocean_model_mod
  GEOSogcm_GridComp/GEOSocean_GridComp/GuestOcean_GridComp/MOM6_GEOSPlug/.MOM6_GEOSPlug.F90.swp
  GEOSogcm_GridComp/GEOSocean_GridComp/GuestOcean_GridComp/MOM6_GEOSPlug/MOM6_GEOSPlug.F90
Owners: @GEOS-ESM/ocean-team

clean up, get rid of redundant comments and references to MOM4 and MOM5
  GEOSogcm_GridComp/GEOSocean_GridComp/GuestOcean_GridComp/MOM6_GEOSPlug/MOM6_GEOSPlug.F90
Owners: @GEOS-ESM/ocean-team

added exports of currents (A-), sea-lev, frazil; add B- currents for CICE4
  GEOSogcm_GridComp/GEOSocean_GridComp/GuestOcean_GridComp/MOM6_GEOSPlug/MOM6_GEOSPlug.F90
Owners: @GEOS-ESM/ocean-team

get wind stress stagger from MOM_input
  GEOSogcm_GridComp/GEOSocean_GridComp/GuestOcean_GridComp/MOM6_GEOSPlug/MOM6_GEOSPlug.F90
Owners: @GEOS-ESM/ocean-team

add currents, sea level and frazil to export. B-grid currents??
  GEOSogcm_GridComp/GEOSocean_GridComp/GuestOcean_GridComp/MOM6_GEOSPlug/MOM6_GEOSPlug.F90
Owners: @GEOS-ESM/ocean-team

wind_stagger is set and passed to ocean_model_init as an optional argument.
  GEOSogcm_GridComp/GEOSocean_GridComp/GuestOcean_GridComp/MOM6_GEOSPlug/MOM6_GEOSPlug.F90
Owners: @GEOS-ESM/ocean-team

runs for 5days, winds and current need to be filled correctly.
  GEOSogcm_GridComp/GEOSocean_GridComp/GuestOcean_GridComp/MOM6_GEOSPlug/MOM6_GEOSPlug.F90
Owners: @GEOS-ESM/ocean-team

Rename MOM6Run to Run and get rid of transformA2B that is no longer used.
  GEOSogcm_GridComp/GEOSocean_GridComp/GuestOcean_GridComp/MOM6_GEOSPlug/MOM6_GEOSPlug.F90
Owners: @GEOS-ESM/ocean-team

to fix stagger, query ocean model
  GEOSogcm_GridComp/GEOSocean_GridComp/GuestOcean_GridComp/MOM6_GEOSPlug/MOM6_GEOSPlug.F90
Owners: @GEOS-ESM/ocean-team

get rid of swp file!
  GEOSogcm_GridComp/GEOSocean_GridComp/GuestOcean_GridComp/MOM6_GEOSPlug/.MOM6_GEOSPlug.F90.swp
Owners: @GEOS-ESM/ocean-team

clean up initialize
  GEOSogcm_GridComp/GEOSocean_GridComp/GuestOcean_GridComp/MOM6_GEOSPlug/MOM6_GEOSPlug.F90
Owners: @GEOS-ESM/ocean-team

indentation in a comment
  GEOSogcm_GridComp/GEOSocean_GridComp/GuestOcean_GridComp/MOM6_GEOSPlug/MOM6_GEOSPlug.F90
Owners: @GEOS-ESM/ocean-team

get rid of TR bundle in OGCM and everywhere else, it is not used.
  GEOSogcm_GridComp/GEOS_OgcmGridComp.F90
Owners: @GEOS-ESM/ocean-team

get rid of TR bundle in OGCM and everywhere else, it is not used. MOM6 plug: fix ocean_state, in Run method. It initialzes okay.
  GEOSogcm_GridComp/GEOSocean_GridComp/GuestOcean_GridComp/MOM6_GEOSPlug/MOM6_GEOSPlug.F90
Owners: @GEOS-ESM/ocean-team

Use MAPL_R8
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSgwd_GridComp/GEOS_GwdGridComp.F90
Owners: @GEOS-ESM/gcm-gatekeepers

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# Everything in GEOSgcm_GridComp should be owned by the GCM Gatekeepers
* @GEOS-ESM/gcm-gatekeepers

# The ocean is the Ocean Team's responsibility
/GEOSogcm_GridComp/ @GEOS-ESM/ocean-team

# Per https://github.com/GEOS-ESM/GEOSgcm_GridComp/issues/266
# The Land Team owns these directories (and subdirectories)
/GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/GEOSland_GridComp/ @GEOS-ESM/land-team
/GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/GEOSlake_GridComp/ @GEOS-ESM/land-team
/GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/Shared/            @GEOS-ESM/land-team

# But the OAsim file is ocean
/GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/Shared/OASIMalbedoMod.f @GEOS-ESM/ocean-team

# The surface preproc team owns these
/GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/GEOSland_GridComp/GEOScatch_GridComp/mk_restarts/ @GEOS-ESM/surface-preproc-team
/GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/Shared/Raster/                                    @GEOS-ESM/surface-preproc-team

# Landice Team owns Landice
/GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/GEOSlandice_GridComp/ @GEOS-ESM/landice-team

# Some files are shared
/GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/Shared/StieglitzSnow.F90 @GEOS-ESM/land-team @GEOS-ESM/landice-team
/GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/Shared/SurfParams.F90    @GEOS-ESM/land-team @GEOS-ESM/landice-team

# The GEOS CMake Team is the CODEOWNER for the CMakeLists.txt files in this repository
CMakeLists.txt @GEOS-ESM/cmake-team
