Repository GEOS-ESM/GEOSgcm_GridComp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/ocean-team, @GEOS-ESM/seaice-team, @GEOS-ESM/land-team, @GEOS-ESM/surface-preproc-team, @GEOS-ESM/landice-team, @GEOS-ESM/python-transition-team, @GEOS-ESM/cmake-team

add error checking in mk_restarts executables
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/Utils/mk_restarts/SaltImpConverter.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/Utils/mk_restarts/SaltIntSplitter.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/Utils/mk_restarts/Scale_Catch.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/Utils/mk_restarts/Scale_CatchCN.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/Utils/mk_restarts/mk_CatchCNRestarts.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/Utils/mk_restarts/mk_CatchRestarts.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/Utils/mk_restarts/mk_GEOSldasRestarts.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/Utils/mk_restarts/mk_LakeLandiceSaltRestarts.F90
Owners: @GEOS-ESM/gcm-gatekeepers

minor fix to go with original
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/Utils/mk_restarts/mk_CatchCNRestarts.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/Utils/mk_restarts/mk_GEOSldasRestarts.F90
Owners: @GEOS-ESM/gcm-gatekeepers

Continuing stripping down of run_edmf
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSturbulence_GridComp/GEOS_TurbulenceGridComp.F90
Owners: @GEOS-ESM/gcm-gatekeepers

ams: new rc file recommended by Bill
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/Shared/GEOS_SurfaceGridComp.rc
Owners: @GEOS-ESM/land-team

merged with developL91
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSradiation_GridComp/GEOSirrad_GridComp/GEOS_IrradGridComp.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSradiation_GridComp/GEOSsatsim_GridComp/GEOS_SatsimGridComp.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSradiation_GridComp/GEOSsolar_GridComp/GEOS_SolarGridComp.F90
Owners: @GEOS-ESM/gcm-gatekeepers

merged with developL91
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSmoist_GridComp/GEOS_MoistGridComp.F90
Owners: @GEOS-ESM/gcm-gatekeepers

experimental version to test cice thermo callback
  GEOS_GcmGridComp.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/GEOSsaltwater_GridComp/GEOS_CICE4ColumnPhysGridComp.F90
  GEOSogcm_GridComp/GEOSseaice_GridComp/GEOSCICEDyna_GridComp/GEOS_CICEDynaGridComp.F90
Owners: @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/ocean-team, @GEOS-ESM/seaice-team

For future reference, add commands on how I generated much of the listing.
  GEOSogcm_GridComp/GEOS_OceanGridComp/MOM6_GEOSPlug/mom6_cmake/CMakeLists.txt
Owners: @GEOS-ESM/cmake-team

Misc cleanup
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOS_PhysicsGridComp.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSmoist_GridComp/GEOS_MoistGridComp.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSmoist_GridComp/cloudnew.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSmoist_GridComp/partition_pdf.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSturbulence_GridComp/CMakeLists.txt
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSturbulence_GridComp/GEOS_TurbulenceGridComp.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSturbulence_GridComp/edmfparams.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSturbulence_GridComp/shoc.F90
Owners: @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/cmake-team

Updated physics removing bugs and fix MG2. UW and GF remain at 10193
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSmoist_GridComp/GEOS_MoistGridComp.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSmoist_GridComp/aer_cloud.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSmoist_GridComp/cldmacro.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSmoist_GridComp/cldwat2m_micro.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSmoist_GridComp/micro_mg3_0.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSmoist_GridComp/micro_mg_utils.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSmoist_GridComp/ras.F90
Owners: @GEOS-ESM/gcm-gatekeepers

Bug fix and cleanup
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSturbulence_GridComp/GEOS_TurbulenceGridComp.F90
Owners: @GEOS-ESM/gcm-gatekeepers

Commented DA forcing in DatmoDyn
  GEOSagcm_GridComp/GEOSsuperdyn_GridComp/GEOSdatmodyn_GridComp/GEOS_DatmoDynGridComp.F90
Owners: @GEOS-ESM/gcm-gatekeepers

added connection for callback statee and wait for MAPL updates
  GEOS_GcmGridComp.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/GEOSsaltwater_GridComp/GEOS_CICE4ColumnPhysGridComp.F90
  GEOSogcm_GridComp/GEOS_OgcmGridComp.F90
  GEOSogcm_GridComp/GEOSseaice_GridComp/GEOSCICEDyna_GridComp/GEOS_CICEDynaGridComp.F90
  GEOSogcm_GridComp/GEOSseaice_GridComp/GEOS_SeaIceGridComp.F90
Owners: @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/ocean-team, @GEOS-ESM/seaice-team

Fixed TKE shear production bug, adjusted length scale
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSturbulence_GridComp/GEOS_TurbulenceGridComp.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSturbulence_GridComp/shoc.F90
Owners: @GEOS-ESM/gcm-gatekeepers

merged GOCART2G updates/fixes
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSradiation_GridComp/GEOS_RadiationShared/cloud_condensate_inhomogeneity.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSradiation_GridComp/GEOS_RadiationShared/cloud_subcol_gen.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSradiation_GridComp/GEOSirrad_GridComp/RRTMG/rrtmg_lw/gcm_model/src/rrtmg_lw_cldprmc.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSradiation_GridComp/GEOSirrad_GridComp/RRTMG/rrtmg_lw/gcm_model/src/rrtmg_lw_rtrnmc.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSradiation_GridComp/GEOSirrad_GridComp/RRTMG/rrtmg_lw/gcm_model/src/rrtmg_lw_taumol.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSradiation_GridComp/GEOSsolar_GridComp/RRTMG/rrtmg_sw/gcm_model/src/NRLSSI2.F90
Owners: @GEOS-ESM/gcm-gatekeepers

Removed print statement, removed fixed MF depth for entrainment
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSturbulence_GridComp/GEOS_TurbulenceGridComp.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSturbulence_GridComp/shoc.F90
Owners: @GEOS-ESM/gcm-gatekeepers

fix old land opitions
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/Utils/Raster/comp_CATCHCN_AlbScale_parameters.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/Utils/Raster/create_README.csh
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/Utils/Raster/make_bcs
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/Utils/Raster/mkCatchParam.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/Utils/Raster/rmTinyCatchParaMod.F90
Owners: @GEOS-ESM/gcm-gatekeepers

updated GFDL ice-fall speeds and GF sigma back to arakawa
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSmoist_GridComp/ConvPar_GF_GEOS5.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSmoist_GridComp/GEOS_MoistGridComp.F90
Owners: @GEOS-ESM/gcm-gatekeepers

First working version of FV+Held-Suares physics
  CMakeLists.txt
  GEOSagcm_GridComp/CMakeLists.txt
  GEOSagcm_GridComp/GEOS_AgcmSimpleGridComp.F90
  GEOSagcm_GridComp/GEOShs_GridComp/CMakeLists.txt
  GEOSagcm_GridComp/GEOShs_GridComp/GEOS_HsGridComp.F90
  GEOSagcm_GridComp/GEOShs_GridComp/GEOShs.rc
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/gcm-gatekeepers

removed grid spec for SURFSTATE
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/GEOSsaltwater_GridComp/GEOS_CICE4ColumnPhysGridComp.F90
  GEOSogcm_GridComp/GEOSseaice_GridComp/GEOSCICEDyna_GridComp/GEOS_CICEDynaGridComp.F90
Owners: @GEOS-ESM/ocean-team, @GEOS-ESM/seaice-team

Fixed interactive winds
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOS_PhysicsGridComp.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSturbulence_GridComp/GEOS_TurbulenceGridComp.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSturbulence_GridComp/edmf.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSturbulence_GridComp/scm_surface.F90
  GEOSagcm_GridComp/GEOSsuperdyn_GridComp/GEOSdatmodyn_GridComp/GEOS_DatmoDynGridComp.F90
Owners: @GEOS-ESM/gcm-gatekeepers

not terminating SURFSTATE to allow upward propagation
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/GEOS_SurfaceGridComp.F90
Owners: @GEOS-ESM/gcm-gatekeepers

Add auto dev to MAPL3 PR
  .github/PULL_REQUEST_TEMPLATE/auto_pr_to_mapl3.md
  .github/workflows/push-to-develop.yml
Owners: @GEOS-ESM/gcm-gatekeepers

No changelog in GCM GC yet
  .github/workflows/push-to-develop.yml
Owners: @GEOS-ESM/gcm-gatekeepers

a few bug fixes
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/GEOSsaltwater_GridComp/GEOS_CICE4ColumnPhysGridComp.F90
Owners: @GEOS-ESM/ocean-team, @GEOS-ESM/seaice-team

Changes ESMF_Attribute to ESMF_InfoGet for FRIENDLYS
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSmoist_GridComp/GEOS_MoistGridComp.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSturbulence_GridComp/GEOS_TurbulenceGridComp.F90
  GEOSagcm_GridComp/GEOSsuperdyn_GridComp/GEOSdatmodyn_GridComp/GEOS_DatmoDynGridComp.F90
  GEOSogcm_GridComp/GEOS_OgcmGridComp.F90
Owners: @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/ocean-team

Removes comments
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSmoist_GridComp/GEOS_MoistGridComp.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSturbulence_GridComp/GEOS_TurbulenceGridComp.F90
  GEOSagcm_GridComp/GEOSsuperdyn_GridComp/GEOSdatmodyn_GridComp/GEOS_DatmoDynGridComp.F90
  GEOSogcm_GridComp/GEOS_OgcmGridComp.F90
Owners: @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/ocean-team

commented out some print statements
  GEOSagcm_GridComp/GEOSphysics_GridComp/CCPP_GFSmoist_GridComp/CCPP_GFS_MoistGridComp.F90
Owners: @GEOS-ESM/gcm-gatekeepers

Fixes #473 - cmake stub bug
  GEOSogcm_GridComp/GEOS_OceanGridComp/CMakeLists.txt
Owners: @GEOS-ESM/cmake-team

Interim commit after cleanup and added EDMFPARAMS
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOS_PhysicsGridComp.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSturbulence_GridComp/GEOS_TurbulenceGridComp.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSturbulence_GridComp/edmfparams.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSturbulence_GridComp/shoc.F90
Owners: @GEOS-ESM/gcm-gatekeepers

Fixed setting and getting wrapped regriding objects. Added protection to not do updates for grid boxes with no ocean (i.e. MAPL_UNDEF). Reverted the protection against no ocean tiles
  GEOS_GcmGridComp.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/GEOSsaltwater_GridComp/GEOS_CICE4ColumnPhysGridComp.F90
  GEOSogcm_GridComp/GEOSseaice_GridComp/GEOSCICEDyna_GridComp/GEOS_CICEDynaGridComp.F90
Owners: @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/ocean-team, @GEOS-ESM/seaice-team

Fixed syntax
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/GEOSsaltwater_GridComp/GEOS_CICE4ColumnPhysGridComp.F90
Owners: @GEOS-ESM/ocean-team, @GEOS-ESM/seaice-team

Additional cleanup
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSturbulence_GridComp/GEOS_TurbulenceGridComp.F90
Owners: @GEOS-ESM/gcm-gatekeepers

Moved JPL code into edmf module. Moved calc_mf_depth into run_edmf routine. Misc cleanup.
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSturbulence_GridComp/GEOS_TurbulenceGridComp.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSturbulence_GridComp/edmf.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSturbulence_GridComp/edmfparams.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSturbulence_GridComp/shoc.F90
Owners: @GEOS-ESM/gcm-gatekeepers

Fixed typo in the callback name. Fixed correct pointer rank in the callback method. Fixed allocation for the result of the callback (in thermo)
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/GEOSsaltwater_GridComp/GEOS_CICE4ColumnPhysGridComp.F90
  GEOSogcm_GridComp/GEOSseaice_GridComp/GEOSCICEDyna_GridComp/GEOS_CICEDynaGridComp.F90
Owners: @GEOS-ESM/ocean-team, @GEOS-ESM/seaice-team

updated PBL exports from TRB for CCPP
  GEOSagcm_GridComp/GEOSphysics_GridComp/CCPP_GFSmoist_GridComp/AddSpec.inc
  GEOSagcm_GridComp/GEOSphysics_GridComp/CCPP_GFSmoist_GridComp/CCPP_GFS_MoistGridComp.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/CCPP_GFSmoist_GridComp/CMakeLists.txt
  GEOSagcm_GridComp/GEOSphysics_GridComp/CCPP_GFSmoist_GridComp/GFS_typedefs_stubs.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/CCPP_GFSmoist_GridComp/namelist_phy.inc
  GEOSagcm_GridComp/GEOSphysics_GridComp/CCPP_GFSmoist_GridComp/phy_var_declarations.inc
  GEOSagcm_GridComp/GEOSphysics_GridComp/CMakeLists.txt
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOS_PhysicsGridComp.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSturbulence_GridComp/GEOS_TurbulenceGridComp.F90
Owners: @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/cmake-team

added some export to verify callback
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/GEOSsaltwater_GridComp/GEOS_CICE4ColumnPhysGridComp.F90
Owners: @GEOS-ESM/ocean-team, @GEOS-ESM/seaice-team

Minor changes to shoc.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSturbulence_GridComp/shoc.F90
Owners: @GEOS-ESM/gcm-gatekeepers

Bug fix in TurbulenceGridComp.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSturbulence_GridComp/GEOS_TurbulenceGridComp.F90
Owners: @GEOS-ESM/gcm-gatekeepers

Added interactive winds and idealized surface layer scheme
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSturbulence_GridComp/CMakeLists.txt
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSturbulence_GridComp/GEOS_TurbulenceGridComp.F90
  GEOSagcm_GridComp/GEOSsuperdyn_GridComp/GEOSdatmodyn_GridComp/GEOS_DatmoDynGridComp.F90
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/gcm-gatekeepers

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# Everything in GEOSgcm_GridComp should be owned by the GCM Gatekeepers
* @GEOS-ESM/gcm-gatekeepers

# The ocean is the Ocean Team's responsibility
/GEOSogcm_GridComp/ @GEOS-ESM/ocean-team
# Also _connections_ to the ocean should be included in Ocean Team's responsibility
/GEOSdataatm_GridComp/ @GEOS-ESM/ocean-team 
/GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/GEOSsaltwater_GridComp/ @GEOS-ESM/ocean-team @GEOS-ESM/seaice-team



# Per https://github.com/GEOS-ESM/GEOSgcm_GridComp/issues/266
# The Land Team owns these directories (and subdirectories)
/GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/GEOSland_GridComp/ @GEOS-ESM/land-team
/GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/GEOSlake_GridComp/ @GEOS-ESM/land-team
/GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/Shared/            @GEOS-ESM/land-team

# But the OAsim file is ocean
/GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/Shared/OASIMalbedoMod.f @GEOS-ESM/ocean-team

# The surface preproc team owns these
/GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/GEOSland_GridComp/GEOScatch_GridComp/mk_restarts/ @GEOS-ESM/surface-preproc-team
/GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/Shared/Raster/                                    @GEOS-ESM/surface-preproc-team

# Landice Team owns Landice
/GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/GEOSlandice_GridComp/ @GEOS-ESM/landice-team

# Some files are shared
/GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/Shared/StieglitzSnow.F90 @GEOS-ESM/land-team @GEOS-ESM/landice-team
/GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/Shared/SurfParams.F90    @GEOS-ESM/land-team @GEOS-ESM/landice-team

# The Python Transition Team will own Python files
# until the Python 3 transition is completed
*.py @GEOS-ESM/python-transition-team

# The GEOS CMake Team is the CODEOWNER for the CMakeLists.txt files in this repository
CMakeLists.txt @GEOS-ESM/cmake-team
