Repository GEOS-ESM/GEOSgcm_GridComp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/ocean-team, @GEOS-ESM/seaice-team, @GEOS-ESM/land-team, @GEOS-ESM/surface-preproc-team, @GEOS-ESM/landice-team, @GEOS-ESM/cmake-team, @GEOS-ESM/software-modernization-team-smt

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# Everything in GEOSgcm_GridComp should be owned by the GCM Gatekeepers
* @GEOS-ESM/gcm-gatekeepers

# The ocean is the Ocean Team's responsibility
/GEOSogcm_GridComp/ @GEOS-ESM/ocean-team
# Also _connections_ to the ocean should be included in Ocean Team's responsibility
/GEOSdataatm_GridComp/ @GEOS-ESM/ocean-team
/GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/GEOSsaltwater_GridComp/ @GEOS-ESM/ocean-team @GEOS-ESM/seaice-team

# Per https://github.com/GEOS-ESM/GEOSgcm_GridComp/issues/266
# The Land Team owns these directories (and subdirectories)
/GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/GEOSland_GridComp/ @GEOS-ESM/land-team
/GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/GEOSlake_GridComp/ @GEOS-ESM/land-team
/GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/Shared/            @GEOS-ESM/land-team
/GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/Utils/             @GEOS-ESM/land-team

# But the OAsim file is ocean
/GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/Shared/OASIMalbedoMod.f @GEOS-ESM/ocean-team

# The surface preproc team owns these
/GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/Utils/ @GEOS-ESM/surface-preproc-team

# Landice Team owns Landice
/GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/GEOSlandice_GridComp/ @GEOS-ESM/landice-team

# Some files are shared
/GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/Shared/StieglitzSnow.F90 @GEOS-ESM/land-team @GEOS-ESM/landice-team
/GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/Shared/SurfParams.F90    @GEOS-ESM/land-team @GEOS-ESM/landice-team
/GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/GEOS_SurfaceGridComp.F90 @GEOS-ESM/land-team @GEOS-ESM/landice-team @GEOS-ESM/ocean-team

# The GEOS CMake Team is the CODEOWNER for the CMakeLists.txt files in this repository
CMakeLists.txt @GEOS-ESM/cmake-team

# The SMT Team owns the DSL files
/GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSmoist_GridComp/pyMoist/ @GEOS-ESM/software-modernization-team-smt
/GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSmoist_GridComp/openacc/ @GEOS-ESM/software-modernization-team-smt

Test codeowners
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSmoist_GridComp/pyMoist/README.md
Owners: @GEOS-ESM/software-modernization-team-smt

Merged gfdl_cloud_microphysics.F90 with Matt's fix (PR#992)
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSmoist_GridComp/gfdl_cloud_microphys.F90
Owners: @GEOS-ESM/gcm-gatekeepers

Resolved merge conflict in .gitignore [#993]
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSmoist_GridComp/pyMoist/.gitignore
Owners: @GEOS-ESM/software-modernization-team-smt

[NDSL] Adding type FloatField_NTracers to deal with 4D quantities in compute_uwshcu
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSmoist_GridComp/pyMoist/pyMoist/compute_uwshcu.py
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSmoist_GridComp/pyMoist/tests/savepoint/translate_compute_uwshcu.py
Owners: @GEOS-ESM/software-modernization-team-smt

Activated PDFDIAG code in MoistGC
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSmoist_GridComp/GEOS_BACM_1M_InterfaceMod.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSmoist_GridComp/GEOS_GFDL_1M_InterfaceMod.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSmoist_GridComp/GEOS_MGB2_2M_InterfaceMod.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSmoist_GridComp/GEOS_MoistGridComp.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSmoist_GridComp/GEOS_THOM_1M_InterfaceMod.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSmoist_GridComp/Process_Library.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSmoist_GridComp/cloudnew.F90
Owners: @GEOS-ESM/gcm-gatekeepers

[NDSL] Created UW directory and added README.md
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSmoist_GridComp/pyMoist/pyMoist/UW/README.md
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSmoist_GridComp/pyMoist/pyMoist/UW/compute_uwshcu.py
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSmoist_GridComp/pyMoist/pyMoist/UW/conden.py
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSmoist_GridComp/pyMoist/pyMoist/UW/slope.py
Owners: @GEOS-ESM/software-modernization-team-smt

Removed uwshcu.F90.SER from branch. Need to make a separate PR for serialization.
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSmoist_GridComp/uwshcu.F90.SER
Owners: @GEOS-ESM/gcm-gatekeepers

Clean up extraneous timer prints
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSmoist_GridComp/GEOS_MoistGridComp.F90
  GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSmoist_GridComp/pyMoist/.gitignore
Owners: @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/software-modernization-team-smt
